@using EntityLayer.Concrete
@model List<Product>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UiLayout.cshtml";
}
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>#Ürün Adı</th>
        <th>#Fiyat</th>
        <th>#Stok</th>
        <th>#Sil</th>
        <th>#Güncelle</th>
    </tr>
    @if (Model != null && Model.Count > 0)
    {
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Price</td>
                <td>@item.Stock</td>
                <td><a href="/Product/DeleteProduct/@item.Id" class="btn btn-outline-danger">Sil</a></td>
                <td><a href="/Product/UpdateProduct/@item.Id" class="btn btn-outline-success">Güncelle</a></td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td colspan="6" class="text-center">Kayıt bulunamadı</td>
        </tr>
    }
</table>

